<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/cmi/Desktop/Captura de Tela 2018-07-11 às 19.47.20.png</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAEYXxnyXfSDHSA2KCU76pbV79hmYpAmzfa5fFiICHaIp0AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAHAAAAAQEAAERl
	c2t0b3AALAAAAAEBAABDYXB0dXJhIGRlIFRlbGEgMjAxOC0wNy0xMSBhzIBzIDE5LjQ3
	LjIwLnBuZxAAAAABBgAAEAAAACAAAAAsAAAAPAAAAAgAAAAEAwAAXJgCAAAAAAAIAAAA
	BAMAAAKzUgACAAAACAAAAAQDAAAZs1IAAgAAAAgAAAAEAwAAb6eKAAIAAAAQAAAAAQYA
	AIgAAACYAAAAqAAAALgAAAAIAAAAAAQAAEHAe2A/Tb5hGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD3AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
	Qbtx/7IAAAAkAAAAAQEAADdDMEI3Njk3LTAyMUItMzYxMi05OEFFLTM0OTA1QzBDMzdC
	QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABwAAAAAAAAAAUQAADIAAAAAAAAABAQAADw
	AAAAAAAAAEAQAADgAAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
	<key>/Users/cmi/Documents/gabinetevirtual.github.io/img/CAPA.jpg</key>
	<data>
	Ym9vaxQDAAAAAAQQMAAAAEQ+Tb5fiDiiynStYfuyvwIfWAYXIcgitIdDHZraD4fmEAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAJAAAAAQEAAERv
	Y3VtZW50cwAAABkAAAABAQAAZ2FiaW5ldGV2aXJ0dWFsLmdpdGh1Yi5pbwAAAAMAAAAB
	AQAAaW1nAAgAAAABAQAAQ0FQQS5qcGcYAAAAAQYAABAAAAAgAAAALAAAAEAAAABkAAAA
	cAAAAAgAAAAEAwAAXJgCAAAAAAAIAAAABAMAAAKzUgACAAAACAAAAAQDAAAPs1IAAgAA
	AAgAAAAEAwAAwkGKAAIAAAAIAAAABAMAAD9GigACAAAACAAAAAQDAACvpIoAAgAAABgA
	AAABBgAAoAAAALAAAADAAAAA0AAAAOAAAADwAAAACAAAAAAEAABBwHtbWNcE6BgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAAAAAAAAQAAAADAwAA
	9wEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAGBG
	ZDoAAAAIAAAAAAQAAEG7cf+yAAAAJAAAAAEBAAA3QzBCNzY5Ny0wMjFCLTM2MTItOThB
	RS0zNDkwNUMwQzM3QkIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAgAAAAAAAAAAFEAAA
	AAEAAAAAAAAQEAAAMAEAAAAAAABAEAAAIAEAAAAAAAACIAAA/AEAAAAAAAAFIAAAbAEA
	AAAAAAAQIAAAfAEAAAAAAAARIAAAsAEAAAAAAAASIAAAkAEAAAAAAAATIAAAoAEAAAAA
	AAAgIAAA3AEAAAAAAAAwIAAACAIAAAAAAAABwAAAUAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/cmi/Documents/gabinetevirtual.github.io/img/GabineteVirtual.png</key>
	<data>
	Ym9vayADAAAAAAQQMAAAAPrGXPPQ+boVUzuFdvDqhG+R8o0s1krsy7wHW9V4GmvJHAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAJAAAAAQEAAERv
	Y3VtZW50cwAAABkAAAABAQAAZ2FiaW5ldGV2aXJ0dWFsLmdpdGh1Yi5pbwAAAAMAAAAB
	AQAAaW1nABMAAAABAQAAR2FiaW5ldGVWaXJ0dWFsLnBuZwAYAAAAAQYAABAAAAAgAAAA
	LAAAAEAAAABkAAAAcAAAAAgAAAAEAwAAXJgCAAAAAAAIAAAABAMAAAKzUgACAAAACAAA
	AAQDAAAPs1IAAgAAAAgAAAAEAwAAwkGKAAIAAAAIAAAABAMAAD9GigACAAAACAAAAAQD
	AABARooAAgAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	wHqf8TY5gRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAGBGZDoAAAAIAAAAAAQAAEG7cf+yAAAAJAAAAAEBAAA3QzBCNzY5Ny0w
	MjFCLTM2MTItOThBRS0zNDkwNUMwQzM3QkIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
	jAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEAAAAAAABAEAAALAEAAAAAAAACIAAACAIA
	AAAAAAAFIAAAeAEAAAAAAAAQIAAAiAEAAAAAAAARIAAAvAEAAAAAAAASIAAAnAEAAAAA
	AAATIAAArAEAAAAAAAAgIAAA6AEAAAAAAAAwIAAAFAIAAAAAAAABwAAAXAEAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/cmi/Documents/gabinetevirtual.github.io/img/PASSO1-PROJUDI.jpg</key>
	<data>
	Ym9vayADAAAAAAQQMAAAAAkYVjMtS3P/uGb1JCaUgAKMNlAN/jH1LWVRIFEnrBIEHAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAJAAAAAQEAAERv
	Y3VtZW50cwAAABkAAAABAQAAZ2FiaW5ldGV2aXJ0dWFsLmdpdGh1Yi5pbwAAAAMAAAAB
	AQAAaW1nABIAAAABAQAAUEFTU08xLVBST0pVREkuanBnAAAYAAAAAQYAABAAAAAgAAAA
	LAAAAEAAAABkAAAAcAAAAAgAAAAEAwAAXJgCAAAAAAAIAAAABAMAAAKzUgACAAAACAAA
	AAQDAAAPs1IAAgAAAAgAAAAEAwAAwkGKAAIAAAAIAAAABAMAAD9GigACAAAACAAAAAQD
	AADpo4oAAgAAABgAAAABBgAArAAAALwAAADMAAAA3AAAAOwAAAD8AAAACAAAAAAEAABB
	wHtaTS0xxxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAGBGZDoAAAAIAAAAAAQAAEG7cf+yAAAAJAAAAAEBAAA3QzBCNzY5Ny0w
	MjFCLTM2MTItOThBRS0zNDkwNUMwQzM3QkIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA
	jAAAAAAAAAAFEAAADAEAAAAAAAAQEAAAPAEAAAAAAABAEAAALAEAAAAAAAACIAAACAIA
	AAAAAAAFIAAAeAEAAAAAAAAQIAAAiAEAAAAAAAARIAAAvAEAAAAAAAASIAAAnAEAAAAA
	AAATIAAArAEAAAAAAAAgIAAA6AEAAAAAAAAwIAAAFAIAAAAAAAABwAAAXAEAAAAAAAAR
	wAAAIAAAAAAAAAASwAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/cmi/Documents/gabinetevirtual.github.io/img/comousar.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAADymWvDtC5itOHVR4WcOuMqIFEw9O5CWhKdcJw8248B8FAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAJAAAAAQEAAERv
	Y3VtZW50cwAAABkAAAABAQAAZ2FiaW5ldGV2aXJ0dWFsLmdpdGh1Yi5pbwAAAAMAAAAB
	AQAAaW1nAAwAAAABAQAAY29tb3VzYXIuanBnGAAAAAEGAAAQAAAAIAAAACwAAABAAAAA
	ZAAAAHAAAAAIAAAABAMAAFyYAgAAAAAACAAAAAQDAAACs1IAAgAAAAgAAAAEAwAAD7NS
	AAIAAAAIAAAABAMAAMJBigACAAAACAAAAAQDAAA/RooAAgAAAAgAAAAEAwAAL6eKAAIA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQcB7X4DmPPgY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPcBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AABgRmQ6AAAACAAAAAAEAABBu3H/sgAAACQAAAABAQAAN0MwQjc2OTctMDIxQi0zNjEy
	LTk4QUUtMzQ5MDVDMEMzN0JCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/cmi/Downloads/PASSO1-PROJUDI.jpg</key>
	<data>
	Ym9va8ACAAAAAAQQMAAAAHIefVEg3cArh/QE+JF4A5GtfLC3kum6vVWiH4HZg5C4vAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAADAAAAAQEAAGNtaQAJAAAAAQEAAERv
	d25sb2FkcwAAABIAAAABAQAAUEFTU08xLVBST0pVREkuanBnAAAQAAAAAQYAABAAAAAg
	AAAALAAAAEAAAAAIAAAABAMAAFyYAgAAAAAACAAAAAQDAAACs1IAAgAAAAgAAAAEAwAA
	EbNSAAIAAAAIAAAABAMAAOmjigACAAAAEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAA
	AAAEAABBwHtaTS0xxxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAACAAAAAAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAGBGZDoAAAAIAAAAAAQAAEG7cf+yAAAAJAAAAAEBAAA3QzBC
	NzY5Ny0wMjFCLTM2MTItOThBRS0zNDkwNUMwQzM3QkIYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAXAAAAAAAAAAFEAAAtAAAAAAAAAAQEAAA3AAAAAAAAABAEAAAzAAAAAAAAAAC
	IAAAqAEAAAAAAAAFIAAAGAEAAAAAAAAQIAAAKAEAAAAAAAARIAAAXAEAAAAAAAASIAAA
	PAEAAAAAAAATIAAATAEAAAAAAAAgIAAAiAEAAAAAAAAwIAAAtAEAAAAAAAABwAAA/AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAADAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
